$step-number-active-background-color :#1976d2;
$step-number-disabled-background-color : rgba(0, 0, 0, 0.38);
$color-white :#fff;
.stepper-wrapper {
    display: flex;
    justify-content: center;

    .step-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        flex: auto;
    }

    .step-number {
        border-radius: 80%;
        width: 20px;
        height: 20px;
        padding: 3px;
        text-align: center;
        margin-bottom: 1.2rem;
    }
    .divider-line {
        height: 1px;
        position: absolute;
        top: 20%;
        left: 70%;
        border: none;
        width: 60%;
        border-top: 2px dotted #bdbdbd;
    }
    .divider-line-completed {
        border-top: 2px solid #bdbdbd;
    }
}

.step-number-active {
    background: $step-number-active-background-color;
    color: $color-white;
}
.step-number-disabled {
    border: 1px solid #838383;
    background-color:$step-number-disabled-background-color;
    color:$color-white;
}
.step-description-active {
    font-weight: bold;
}
